*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}

/* Header styling----------------------------------------------------------------------------------------*/
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
header h1{
    color: white;
    font-size: 6rem;
    padding: 2rem 4rem;
    margin-left: 0.7em;
}
/*-------------------------------------------------------------------------------------------------------*/

/* Nav menu styling--------------------------------------------------------------------------------------*/
.nav-menu {
    top: 0px;
    position: sticky;
    background: linear-gradient(to right,rgb(255, 230, 0), rgb(252, 219, 84));
    font-size: 2.3rem;
    padding: 1.3rem 5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15rem;
    z-index: 1;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100rem;
    list-style-type: none;
    margin-left: 3.3rem;
}
.nav-links li a{
    color: black;
    text-decoration: none;
}
/* Hover effect for nav elements */
.nav-links li::after{
    content: '';
    width: 0%;
    height: 0.4rem;
    background: black;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links li:hover::after{
    width: 100%;
}
/* Bag Login and search bar container */
.bag-search-login{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3rem;
}
/* Bag */
#bag-icon{ 
    font-size: 3.5rem;
    transition: 0.2s;
}
#bag-icon:hover{
    font-size: 4rem;
}
/* Login */
#login-icon{ 
    padding-top: 0.7rem;
    font-size: 3.5rem;
    transition: 0.2s;
}
#login-icon:hover{
    padding-top: 0.25rem;
    font-size: 4rem;
}
/* Search bar */
#search-bar{ 
    font-size: 2rem;
    width: 30rem;
}
input[type=text] {
    float: right;
    padding: 0.5rem;
    border: 0.3rem solid black;
    padding-left: 2rem;
}
/* Dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    margin-top: 3rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover .dropdown-content {
    display: block;
}
.dropdown-content h3{
    float: none;
    color: black;
    padding: 1rem 1rem;
    display: block;
    text-align: left;
    font-size: 1.5rem;
    background-color: rgb(255, 230, 0);
    border-radius: 1rem;
    border: black solid 0.2rem;
}
.dropdown-content p{
    padding-top: 2rem;
    float: none;
    color: black;
    padding: 1rem 1rem;
    display: block;
    text-align: left;
    font-size: 1.3rem;
}
/*-------------------------------------------------------------------------------------------------------*/

/* Shoes content-----------------------------------------------------------------------------------------*/
/* filter-container*/
.filter-and-products-container{
    position: relative;
    display: flex;
    justify-content: space-between;
}
#title{
    position: absolute;
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
    margin-top: 4rem;
    margin-left: 7rem;
}
.filter-container{
    height: 110rem;
    width: 20%;
    margin: 4rem 4.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
    margin-left: 6rem;
}
.filter-container h3{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    padding-left: 2rem;
}
.line2{
    border: solid black 0.15rem;
    margin: 0 2rem;
}
.line{
    border: solid black 0.15rem;
    margin: 0 2rem;
    margin-top: 5rem;
}
.checkbox-container{
    display: flex;
    justify-content: left;
    gap: 0.3rem;
    align-items: center;
}
.checkbox{
    transform: scale(2);
    margin-top: 0.2rem;
}
.filter-container ul{
    margin-left: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 14rem;
    margin-bottom: 1rem;
}
/* products-container*/
.product-container{
    display: flex;
    width: 72%;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin-right: 8rem;
}
.product-row{
    height: 52rem;
    margin: 4rem 4rem;
    display: flex;
    width: 100%;
    /* border: solid red 0.3rem; */
    width: 130rem;
    justify-content: space-between;
    margin-right: 8rem;
}
/* product stuff */
.product{
    height: 50rem;
    width: 40rem;
    /* border: solid red 0.2rem; */
    margin: 2rem;
}
.product img{
    width: 40rem;
    height: 30rem;
    object-fit: cover;
    overflow: hidden;
}
.product img:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.product .name{
    font-size: 3rem;
    font-weight: 600;
    padding-left: 2rem;
}
.product .price{
    font-size: 3rem;
    font-weight: 600;
    padding-left: 2rem;
    color: red;
    margin-bottom: 2rem;
}
.btn-stars{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
.add-to-cart{
    font-size: 2rem;
    font-weight: 600;
    padding: 0.4rem 0.7rem;
    margin-left: 2rem;
    background-color: rgb(255, 230, 0);
    border-radius: 0.5rem;
}
.add-to-cart:hover{
    color: rgb(255, 230, 0);
    background-color: black;
}
.stars{
    display: flex;
    justify-content: left;
    gap: 0.4rem;
    color: black;
    font-size: 2.6rem;
}
/*-------------------------------------------------------------------------------------------------------*/

/* Contact form------------------------------------------------------------------------------------------*/
/* form styling */
.form-text-container{
    display: flex;
    justify-content: space-between;
    margin: 4rem 4rem;
    flex-direction: row;
    margin-left: 5.1rem;
}
.contact form {
    background-color: #f7f7f7;
    padding: 2rem 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 55%;
}
.contact form label {
    display: block;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}
form .input {
    margin-left: 1rem;
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
form .input2 {
    margin-left: 1rem;
    width: 96%;
    height: 7rem;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.contact form input[type="submit"]{
    font-size: 2rem;
    font-weight: 600;
    padding: 0.7rem 0.7rem;
    margin-left: 1rem;
    background-color: rgb(255, 230, 0);
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
}
.contact form input[type="submit"]:hover{
    color: rgb(255, 230, 0);
    background-color: black;
}
/* Contact text */
.contact-text{
    border-radius: 1rem;
    margin: 0rem 2rem;
    width: 40%;
}
.contact-text h2{
    font-size: 3rem;
    font-weight: 600;
    padding-left: 1rem;
    margin-bottom: 2rem;
}
.contact-text p{
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 1rem;
}
.icon-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem 2rem;
    flex-direction: row;
    background-color: rgb(255, 230, 0);
    font-size: 3rem;
    align-items: center;
    border-radius: 1rem;
}
/* Styling for the embedded Google Maps iframe */
.contact .map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 4rem;
    margin-left: 6rem;
    height: 50rem;
}
.contact iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
}
/* popup */
.popup{
    background: white;
    width: 50rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 2rem 2rem;
    border: solid 0.3rem black;
    transition: 0.5s;
}
.return-btn{
    width: 85%;
    padding: 0.3rem 2rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    background: linear-gradient(to right,rgb(255, 230, 0), rgb(252, 219, 84));
    border: 0;
    outline: none;
    font-size: 2.5rem;
    font-weight: 600;
    border-radius: 1rem;
    box-shadow: 0 0 0.1em 0.1rem rgba(0,0,0,0.1);
}
h2{
    font-size: 5rem;
    margin: 1rem;
}
#pop{
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    background-position: center;
    background-size: cover;
    transition: 0.5s;
    top: 0px;
    z-index: 5;
    position: fixed;
}
/*-------------------------------------------------------------------------------------------------------*/

/* About page -------------------------------------------------------------------------------------------*/
.about{
    display: flex;
    justify-content: space-around;
    margin: 4rem 8rem;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 8rem;
}
/* title styling */
.title h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.title p{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
/* imgae and text */
.image-text-container{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-direction: row;
    height: 48rem;
}
.story-values-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}
#image-container{
    width: 50%;
}
#about-image{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    overflow: hidden;
}
/* sotry  and values text*/
.story{
    font-size: 1.7rem;
    font-weight: 400;
    padding-left: 2rem;
}
.values{
    font-size: 1.7rem;
    font-weight: 400;
    padding-left: 2rem;
}
.values ul{
    padding-left: 1.1em;
}
/* location info */
.location-map-container{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    height: 20rem;
    flex-direction: row;
}
.location-text{
    width: 40%;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-right: 10rem;
}
.about .map-container {
    height: 100%;
    width: 60%;
}
.about iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 1rem;
}
/*-------------------------------------------------------------------------------------------------------*/

/* Home styling------------------------------------------------------------------------------------------*/
.home{
    display: flex;
    justify-content: space-around;
    margin: 4rem 3.5rem;
    flex-direction: column;
    margin-bottom: 8rem;
}
/* title styling */
#heading{
    margin-left: 4.5rem;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}
#sub-heading{
    margin-left: 4.5rem;
    margin-right: 7rem;
    font-size: 3rem;
    font-weight: 600;
}
/* about info */
.image-text-container-home{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-direction: row;
    height: 48rem;
    margin-left: 4rem;
    margin-right: 7rem;
}
/* location info */
.home-map-container{
    margin-left: 4rem;
    margin-right: 7rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    height: 20rem;
    flex-direction: row;
}
.home-text{
    width: 43%;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-right: 10rem;
}
.home .map-container {
    height: 100%;
    width: 60%;
}
.home iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 1rem;
}
/* items on sale */
#sale{
    margin-top: 8rem;
    margin-left: 4rem;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
#sale Strong{
    color: red;
}
#sale::after{
    content: "";
    display: block;
    width: 95%;
    height: 0.5rem;
    background-color: black;
    margin-top: 1rem;
    border-radius: 10rem;
}
.product-row2{
    height: 52rem;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}
/*-------------------------------------------------------------------------------------------------------*/

/* footer styling----------------------------------------------------------------------------------------*/
footer{
    position: relative;
    display: absolute;
    bottom: 0rem;
}
.footer-icons{
    background: linear-gradient(to right,rgb(255, 230, 0), rgb(252, 219, 84));
    padding: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icons{
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 40rem;
}
a{
    color: black;
}
.fa-brands:hover{
    font-size: 3.5rem;
    transition: 0.2s;
}
.fa-solid:hover{
    font-size: 3.5rem;
    transition: 0.2s;
}
.img-container{
    overflow: hidden;
    width: 100%;
    height: 30rem;
    position:relative;
}
#footer-image{
    width: 100%;
    position:absolute;
    bottom:0;
}
#footer-image2{
    width: 100%;
    position:absolute;
}
.shade{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    position:absolute;
    bottom:0;
    height: 100%;
}
/*-------------------------------------------------------------------------------------------------------*/

/* Media queries------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 2700px){
    html {
        font-size: 75%;
    }
    .product-container{
        width: 110%;
    }
}

@media only screen and (min-width: 3400px){
    html {
        font-size: 120%;
    }
}
/* ------------------------------------------------------------------------------------------------------*/