*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Background image */
.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(media/shoes.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* White form container */
.form-container{
    width: 45rem;
    height: 60rem;
    position: relative;
    margin: 0 auto;
    background: #fff;
    padding: 4rem;
    border-radius: 1rem;
    margin-top: 14rem;
}

/* Button at the top */
.button-box{
    width: 40rem;
    margin: 6rem auto;
    position: relative;
    box-shadow: 0 0 0.2rem 0.2rem rgba(0,0,0,0.1);
    border-radius: 10rem;
    display: flex;
    justify-content: space-between;
}
.top-btn{
    padding: 1rem 6rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
}
#highlighted-btn{
    top:0;
    left: 0;
    position: absolute;
    width: 20rem;
    height: 100%;
    background: linear-gradient(to right,rgb(255, 230, 0), rgb(252, 219, 84));
    border-radius: 10rem;
    transition: 0.5s;
}
span:hover{
    font-weight: 800;
}
.log-hover:hover{
    font-weight: 800;
}

/* social media icons */
.icons{
    position: relative;
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.fa-brands:hover{
    color: rgb(252, 219, 84);
    transition: 0.2s;
}
a{
    color: black;
}

/* login form */
.input-group{
    position: relative;
    margin: auto;
    width: 70%;
}
.input-field{
    width: 100%;
    padding: 0.3rem 0.3rem;
    margin: 1rem auto;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1 solid #999;
    outline: none;
    background: transparent;
    font-size: 2.5em;
}   

/* check box */
.checkbox-container{
    padding-top: 1.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.checkbox{
    transform: scale(2);
}
p{
    color: #777;
    font-size: 1.5em;
}

/* login button */
.login-btn{
    width: 85%;
    padding: 0.3rem 2rem;
    cursor: pointer;
    display: block;
    margin: 8rem auto;
    background: linear-gradient(to right,rgb(255, 230, 0), rgb(252, 219, 84));
    border: 0;
    outline: none;
    border-radius: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    box-shadow: 0 0 0.1em 0.1em rgba(0,0,0,0.1);
}
.login-hover:hover{
    font-weight: 800;
}

@media only screen and (max-width: 2700px){
    html {
        font-size: 70%;
    }
}

@media only screen and (min-width: 3400px){
    html {
        font-size: 120%;
    }
}